.appBar {
  box-shadow: 0 10px 9px -9px rgba(0,0,0,0.14);
}

.btn {
  width: 250px;
  transition: all .3s ease-in-out;
}

.outlined.btn {
  &:hover {
    border-color: #cc3300;
    color: #cc3300;
  }
}
